body {
    background-color: #EADFCD;
}

.black-links > a {
    color: #404040;
}

.active > a {
    background-color: #BF985A !important;
}

.active > li {
}

.dropdown-toggle {
    background-color: #937039 !important;
}

.dropdown-menu {
    background-color: #B88D47 !important;
    left: 30px;
}

    .dropdown-menu a {
        color: white !important;
    }

        .dropdown-menu a:hover {
            color: #404040 !important;
        }

.navbar {
    margin-bottom: 0 !important;
    border: 0 !important;
    min-height: 40px !important;
}

.navbar-style > li > a {
    color: white;
    background-color: #937039;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

    .navbar-style > li > a:hover {
        background-color: #bf985a !important;
    }

.navbar-nav {
    width: 100%;
    text-align: center;
}

    .navbar-nav > li {
        float: none !important;
        display: inline-block !important;
    }

.nav > li > a {
    padding: 10px 30px 10px 30px !important;
}

.product-overlay {
    position: relative;
    width: 100%;
}

    .product-overlay h2 {
        background-color: rgba(0,0,0,0.65);
        color: white;
        font-family: 'Times New Roman';
        position: absolute;
        bottom: 0px;
        left: 0;
        padding: 15px 30px 15px 30px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-bottom: 15px !important;
    }
